@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Word Counter</h1>
    <form method="post">
        <div class="form-group">
            <label for="inputString">Enter a string:</label>
            <input type="text" class="form-control" id="inputString" name="InputString" placeholder="Enter a string">
        </div>
        <button type="submit" class="btn btn-primary">Count Words</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.WordCount.ToString()))
    {
        <div class="mt-4">
            <p>Total number of words in the string is: @Model.WordCount</p>
        </div>
    }
</div>